{extend name='public/base'/}
{block name='header'}{/block} {//关掉头部}
{block name='menu'}{/block} {//关掉菜单}
{block name='seo'}
<title>{$title|default="标题"}</title>
<link rel="stylesheet" type="text/css" href="__LIB__/jedate/skin/jedate.css">

{/block}

{block name='content'}
<article class="cl pd-20">

	<form action="" method="post" class="form form-horizontal" id="form-class-edit">

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>日期：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text dateinput" value="" id="riqi" name="riqi" id="logmin">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>节次：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div id="jieci">

				</div>
				<!-- <input type="text" class="input-text" value="" id="jieci" name="jieci"> -->
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>男生容量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" id="krlman" name="krlman">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>女生容量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" id="krlwomen" name="krlwomen">
			</div>
		</div>
		<!--将当前记录的id做为隐藏域发送到服务器-->
		<input type="hidden" value="{$Think.session.tec_info.id}" name="id">

		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<input class="btn btn-primary radius disabled" type="button" value="&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;" id="submit">
			</div>
		</div>
	</form>


</article>
{/block}

{block name='script'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__LIB__/parts/parts.js"></script>

<script>
	window.onload = function () {
		jieci();
	}
	$(function () {
		jeDate("#riqi", {
			theme: {
				bgcolor: "#2d6dcc",
				color: "#ffffff",
				pnColor: "#00CCFF"
			},
			isinitVal: true,
			format: "YYYY-MM-DD"
		});

		$("form").children().change(function () {
			$("#submit").removeClass('disabled');
		});


		$("#submit").on("click", function (event) {
			$.ajax({
				type: "POST",
				url: "{:url('teacher/doTestAdd')}",
				data: $("#form-class-edit").serialize(),
				dataType: "json",
				success: function (data) {
					if (data.status == 1) {
						layer.msg(data.message, {
							icon: 6,
							time: 1000
						});
					} else {
						layer.msg(data.message, {
							icon: 5,
							time: 1000
						});
					}
				}
			});
		});
	})
</script>
{/block}

</body>

</html>