{extend name="template/base" /}
{block name="content"}
<div class="page-container">
  <table class="table table-border table-bordered table-bg table-hover radius">
    <tr>
      <th colspan="13">清华同方学生信息导入模板</th>
      <td width="120" class="text-c">
        <a href="javascript:;" onclick="layer_open('模板导出','{:\\think\\Url::build(\'tongfang\')}',{w:'30%',h:'50%'})" class="btn btn-primary radius J_load">
          <i class="Hui-iconfont">&#xe644;</i> 导出
        </a>
      </td>
    </tr>
    <tr  class="text-c active">
      <td>学校代码</td>
      <td>年级编号</td>
      <td>班号</td>
      <td>班级</td>
      <td>学号</td>
      <td>民族代码</td>
      <td>姓名</td>
      <td>性别</td>
      <td>出生日期</td>
      <td>学生来源</td>
      <td>身份证号</td>
      <td>家庭地址</td>
      <td>是否免测</td>
      <td>免测原因</td>
    </tr>
  </table>
  <table class="table table-border table-bordered table-bg table-hover radius mt-20">
    <tr>
      <th colspan="18">体质网大学数据导入模板</th>
      <td width="120" class="text-c">
        <a href="javascript:;" onclick="layer_open('模板导出','{:\\think\\Url::build(\'tizhiwang\')}',{w:'30%',h:'50%'})" class="btn btn-success radius J_load">
          <i class="Hui-iconfont">&#xe644;</i> 导出
        </a>
      </td>
    </tr>
    <tr  class="text-c success">

      <td>年级编号</td>
      <td>班号</td>
      <td>班级</td>
      <td>学籍号</td>
      <td>民族代码</td>
      <td>姓名</td>
      <td>性别</td>
      <td>出生日期</td>
      <td>学生来源</td>
      <td>身份证号</td>
      <td>家庭地址</td>
      <td>身高</td>
      <td>体重</td>
      <td>肺活量</td>
      <td>50米跑</td>
      <td>1000或800米跑</td>
      <td>坐位体前屈</td>
      <td>立定跳远</td>
      <td>仰卧起坐/引体向上</td>

    </tr>
  </table>
  <table class="table table-border table-bordered table-bg table-hover radius mt-20">
    <tr>
      <th colspan="24">河北农业大学体质健康标准管理模板</th>
      <td width="120" class="text-c">
        <a href="javascript:;" onclick="layer_open('模板导出','{:\\think\\Url::build(\'nongda\')}',{w:'30%',h:'50%'})" class="btn btn-warning radius J_load">
          <i class="Hui-iconfont">&#xe644;</i> 导出
        </a>
      </td>
    </tr>
    <tr  class="text-c warning">


      <td>学号</td>
      <td>姓名</td>
      <td>性别</td>
      <td>民族</td>
      <td>身份证号</td>
      <td>校区</td>
      <td>学院</td>
      <td>专业</td>
      <td>班级</td>
      <td>年级</td>
      <td>在读状态</td>
      <td>入学年份</td>
      <td>学制</td>
      <td>身高</td>
      <td>体重</td>
      <td>肺活量</td>
      <td>50米跑</td>
      <td>中长跑</td>
      <td>坐位体前屈</td>
      <td>立定跳远</td>
      <td>仰卧起坐/引体向上</td>
      <td>测试状态</td>
      <td>测试时间</td>
      <td>免测</td>
      <td>备注</td>


    </tr>
  </table>


</div>
{/block}
