<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.id}</td>
<td>{$vo.sid|high_light=$Request.param.sid}</td>
<td>{$vo.xuenian|high_light=$Request.param.xuenian}</td>
<td>{$vo.shengao}</td>
<td>{$vo.tizhong}</td>
<td>{$vo.feihuoliang}</td>
<td>{$vo.lrun}</td>
<td>{$vo.mrun}</td>
<td>{$vo.srun}</td>
<td>{$vo.yintiyangwo}</td>
<td>{$vo.qianqu}</td>
<td>{$vo.run50}</td>
<td>{$vo.liding}</td>
<td>{$vo.tiaosheng}</td>
<td>{$vo.status|high_light=$Request.param.status}</td>
<td>{$vo.cssj|high_light=$Request.param.cssj}</td>
<td>{$vo.mcbh|high_light=$Request.param.mcbh}</td>