<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
    <input type="text" class="input-text" style="width:250px" placeholder="学院" name="xueyuan" value="{$Request.param.xueyuan}">
    <input type="text" class="input-text" style="width:250px" placeholder="班级" name="banji" value="{$Request.param.banji}">
    <input type="text" class="input-text" style="width:250px" placeholder="姓名" name="name" value="{$Request.param.name}">
    <input type="text" class="input-text" style="width:250px" placeholder="学号" name="sid" value="{$Request.param.sid}">
    <button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>
