<td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
<td>{$vo.id}</td>
<td>{$vo.sid}</td>
<td>{$vo.name|high_light=$Request.param.name}</td>
<td>{$vo.sex|high_light=$Request.param.sex}</td>
<td>{$vo.minzu|high_light=$Request.param.minzu}</td>
<td>{$vo.shengri|high_light=$Request.param.shengri}</td>
<td>{$vo.sfzh|high_light=$Request.param.sfzh}</td>
<td>{$vo.dizhi|high_light=$Request.param.dizhi}</td>
<td>{$vo.xiaoqu|high_light=$Request.param.xiaoqu}</td>
<td>{$vo.xueyuan|high_light=$Request.param.xueyuan}</td>
<td>{$vo.zhuanye|high_light=$Request.param.zhuanye}</td>
<td>{$vo.banji|high_light=$Request.param.banji}</td>
<td>{$vo.zdzt|high_light=$Request.param.zdzt}</td>
<td>{$vo.ruxue|high_light=$Request.param.ruxue}</td>
<td>{$vo.xuezhi|high_light=$Request.param.xuezhi}</td>
<td>{$vo.beizhu|high_light=$Request.param.beizhu}</td>
<td>{$vo.create_time|date='Y-m-d',###}</td>
