
<!--_footer 作为公共模版分离出去-->
{load href="__LIB__/jquery/1.9.1/jquery.min.js"/}
{load href="__STATIC__/h-ui/js/H-ui.min.js"/}
{load href="__STATIC__/h-ui.admin/js/H-ui.admin.js"/}
{load href="__STATIC__/h-ui.admin/js/other.js"/}

{load href="__LIB__/layer/2.4/layer.js"/}
{load href="__LIB__/datatables/1.10.0/jquery.dataTables.min.js"/}
{load href="__LIB__/laypage/1.2/laypage.js"/}
{load href="__LIB__/Validform/5.3.2/Validform.min.js"/}
{load href="__LIB__/jedate/src/jedate.js"/}

 <!--/_footer 作为公共模版分离出去-->
