
<!--menu-->
<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe60d;</i> {:lang('tecinfo')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('teacher/info')}" href="javascript:;" data-title="{:lang('stu-info')}">{:lang('stu-info')}</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe60d;</i> {:lang('tectest')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('teacher/testup')}" href="javascript:;" data-title="{:lang('test-up')}">{:lang('test-up')}</a></li>
                </ul>
            </dd>
        </dl>
      </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--menu -->
