{extend name="template/base" /}
{block name="nav"}{/block}
{block name="content"}
<div class="page-container" id="full">

  <div class="panel panel-warning">
  	<div class="panel-header">上传前请阅读以下提示</div>
  	<div class="panel-body">
      <div class="Huialert Huialert-danger">1.下载的模板文件不要改变列名等模板信息;</div>
      <div class="Huialert Huialert-danger">2.所有数据字段均以'文本'格式上传;</div>
      <div class="Huialert Huialert-danger">3.建议一次上传不要超过10万条数据。</div>
      <a href="/file/学生导入模板.xlsx"><div class="Huialert Huialert-success mt-20"><i class="Hui-iconfont">&#xe640;</i>点击此处下载Excel导入模板</div></a>

    </div>
  </div>
  <iframe name="upload" style="display: none"></iframe>

  <form class="form form-horizontal" id="form" method="post" target="upload" enctype="multipart/form-data" action="{:\\think\\Url::build('upload')}">
      <div class="row cl">
          <label class="form-label col-xs-3 col-sm-3">
            <span class="c-red">*</span>Excel文件：
          </label>
          <div class="formControls col-xs-6 col-sm-6">
            <span class="btn-upload">
              <a href="javascript:void();" class="btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i> 浏览文件</a>
                <input class="input-text upload-url radius" type="text" name="excel" id="excel" readonly width="150px" datatype="*" nullmsg="请选择文件">
              <input type="file" multiple name="excel" class="input-file">
            </span>
          </div>
          <div class="col-xs-3 col-sm-3"></div>
      </div>

      <div class="row cl">
          <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
              <button type="submit" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp;</button>
              <button type="button" class="btn btn-default radius ml-20" onClick="layer_close();">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
          </div>
      </div>
      <p id="success"></p>
  </form>
</div>
{/block}
{block name="script"}
<script>
</script>
{/block}
