<footer class="footer mt-20">
    <div class="container">
        <p></p>
        <p>
            感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch等开源项目<br>
        </p>
        <p>本系统由&nbsp;&nbsp;<b><a href="http://www.h-ui.net/" target="_blank" rel="nofollow" title="H-ui前端框架">H-ui前端框架</a></b>
        &nbsp;&nbsp;<b><a href="http://www.thinkphp.cn/" target="_blank" rel="nofollow" title="ThinkPHP5.0开发框架">ThinkPHP5.0开发框架</a></b>
        &nbsp;&nbsp;<b><a href="http://www.gmwabc.cn/" target="_blank" rel="nofollow" title="GMWabc.cn">GMWabc.cn</a></b>&nbsp;&nbsp;提供技术支持</p>
        <p>Copyright &copy;2018 <b><a href="#">{:lang('copyright')}</a></b> All Rights Reserved.</p>
    </div>
</footer>
