
<!--menu-->
<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe60d;</i> {:lang('colinfo')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('college/info')}" href="javascript:;" data-title="{:lang('col-info')}">{:lang('col-info')}</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe60d;</i> {:lang('coltec')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('college/tec')}" href="javascript:;" data-title="{:lang('colteclist')}">{:lang('colteclist')}</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe60d;</i> {:lang('colstu')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('college/stu')}" href="javascript:;" data-title="{:lang('colstulist')}">{:lang('colstulist')}</a></li>
                </ul>
            </dd>
        </dl>
      </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--menu -->
