<select name="jieci" class="select input-text" value="{$vo.jieci ?? ''}">
  <option value="第一节">第一节</option>
  <option value="第二节">第二节</option>
  <option value="第三节">第三节</option>
  <option value="第四节">第四节</option>
  <option value="第五节">第五节</option>
  <option value="第六节">第六节</option>
  <option value="第七节">第七节</option>
  <option value="第八节">第八节</option>
  <option value="第九节">第九节</option>
  <option value="第十节">第十节</option>
  <option value="第十一节">第十一节</option>
  <option value="第十二节">第十二节</option>
</select>
