
<!--menu-->
<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe60d;</i> {:lang('stuinfo')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('student/info')}" href="javascript:;" data-title="{:lang('stu-info')}">{:lang('stu-info')}</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe637;</i> {:lang('stutest')}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                  <li><a data-href="{:url('student/stuScore')}" href="javascript:;" data-title="{:lang('stu-score')}">{:lang('stu-score')}</a></li>
                  <li><a data-href="{:url('student/stuTest')}" href="javascript:;" data-title="{:lang('stu-test')}">{:lang('stu-test')}</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--menu -->
